* {
    box-sizing: border-box;
} 

body {
    background: rgb(191, 97, 103); 
    padding: 30px;
    text-align: center;
}

h1{
    font-family: 'Euphoria Script', cursive;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

ul {
    list-style: none;
    font-size: 30px;

}
/* all 3 firt inputs/buttons */
/* .flex-container-for-buttons {

} */

.change  {
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px rgb(97, 87, 87) solid; 
    background:grey;
    /* display: flex;
    position: relative; */
    /* left: 50px;
    top: 10px; */
    cursor: pointer;

}

/* bookmark button */
.add-new-bookmark-button {
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px black solid; 
    background: black;
    padding: 5px;
    cursor:pointer;

    
}
/* drop down menu */
#select-rating {
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px rgb(97, 87, 87) solid; 
    background:grey;
    /* position: relative;
    left: 21px; */
    cursor: pointer;
    /* padding-left: 50px; */
    text-align: center;

}

.bookmark-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
    

}

span {
    font-family: 'Euphoria Script', cursive;
    text-align: center;
    margin-top: 10px;
}
input {
    font-size: 15px;
    margin-top: 15px;
}

textarea {
    font-size: 15px;
    margin-top: 30px;
}

.submit-button {
    width: 10%;
    background: black;
    color: white;
    margin-top: 20px;
    border-radius: 5px;


}


