* {
    box-sizing: border-box;
  }

  
  body {
    font-family: 'Quattrocento Sans', sans-serif;
    display: flex;
    justify-content: center;  
    padding-left: 60px; 
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%
  }

  h1 {
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    color: rgb(38, 34, 34);
    font-weight: bold;
    text-align: center;
  }
  
  .first-container {
    display: flex;
    flex-direction: column;
    align-self:center;   


  
  }
  .select-rating {
    font-size: 15px;
    margin-top: 5px;
    align-self: center;
    border: 1px solid  rgb(21, 20, 20);


  }
  
  .addBookmark {
   
    font-size: 15px;
    margin-right: 10px;
    align-self: center;
    width: 90px;
    border-radius: 4px;
    border: 1px solid  rgb(21, 20, 20);
  
  
  }
  
  #bookmark-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
  }
  
  .form-btn {
    font-size: 15px;
    margin-right: 10px;
    align-self: center;
    width: 90px;
    border-radius: 4px;
    border: 1px solid rgb(21, 20, 20);
  }
  
  .form-here {
    align-self: center;
  }
  
  .bk-title, .bk-url, .bk-desc, .bk-rating {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    
  }
  
  .bk-rating {
    font-size: 15px;
   
  }
  
  h2 {
    font-size: 25px;
  }
  
  .bookmark-list {
  list-style-type: none;
  align-self: center;

  }
  
  #title {

    font-weight: bold;
    font-size: 25px;
    color: black;
  }
  
 
  .new-bk {
    font-family: 'Quattrocento Sans', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:grey;
  }
  
  
  .delete-bookmark-button {
    font-size: 20px;
    background-color: grey;
    width: 50%;
    align-self: center;

  }
  
  li {
    font-size: 20px;
    padding: 10px;
    align-self: center;
    position: relative;
    left: -15px;
  }
  
  
   @media only screen and (min-width: 500px) {
    .first-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  
  } 

  a {
    border: 1px solid  #89cbe1;
    background:  #89cbe1;
    text-decoration: none;
    color: black;
    padding:5px;
  }
  
  
